@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

$font-family: 'Montserrat', sans-serif;

$light-background: #F2F2F2;
$light-background-card: #FFFFFF;
$light-font-1: #333333;
$light-font-2: #4f4f4f;
$light-font-3: #828282;
$light-font-4: #c4c4c4;

$dark-background: #121212;
$dark-background-card: #373737;
$dark-font-1: #ffffff;
$dark-font-2: #e2e2e2;
$dark-font-3: #dbdbdb;
$dark-font-4: #949494;

$blue: #0d99ff;
$orange: #f24822;
$green: #14ae5c;
$purple: #9747ff;
$pink: #ff24bd;
$yellow: #ffcd29;
$red: #ff2d55;

$phoneXS: 330px;
$phone: 560px;
$tablet: 720px;
$desktop: 992px;
$desktopXL: 1200px;